<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="masthead-inner">
        <h1><a href="/">{{site.title}}</a></h1>
        <p class="lead">{{site.description}}</p>
        {% assign counter = 0 %}
        <ul id="archive-by-year">
        {% for post in site.posts %}
          {% assign thisyear = post.date | date: "%Y" %}
          {% assign prevyear = post.previous.date | date: "%Y" %}
          {% assign counter = counter | plus: 1 %}
          {% if thisyear != prevyear %}
            <li><a href="/{{ post.date | date:"%Y" }}">{{ thisyear }} ({{ counter }})</a></li>
            {% assign counter = 0 %}
          {% endif %}
        {% endfor %}
        </ul>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="https://manu.ar"><i class="fa fa-home"></i>manu.ar</a>
            </li>
            <li>
              <a href="https://github.com/jazzido"><i class="fa fa-github"></i>jazzido</a>
            </li>
            <li>
              <a href="https://instagram.com/aristamanu"><i class="fa fa-instagram"></i>aristamanu</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>
    {% include analytics.html %}
    <script>
      if (!location.host.startsWith('127.0.0.1') && !location.host.startsWith('localhost') && location.protocol !== 'https:') {
        location.replace(`https:${location.href.substring(location.protocol.length)}`);
      }
    </script>
    <script id="dsq-count-scr" src="//millondemonos.disqus.com/count.js" async></script>
  </body>
</html>
